// Esse é um exemplo de como o seu arquivo deve ser preenchido.
// Remova todos os comentários e linhas em branco quando tiver preenchido todas informações.

{
  // Escreva seu nome.
  "name": "Valdemir Filho",                     

  // Escreva o seu e-mail.
  "email": "filhux@gmail.com", 

  // Coloque a cidade onde mora.
  "city": "Sobral", 

  // Coloque o estado onde mora.
  "state": "Ceará", 

  // Coloque a url do seu github.
  "github": "https://github.com/valdemirfilho", 

  // Coloque a url do seu perfil no linkedin
  "linkedin_url": "https://www.linkedin.com/in/valdemirfilho/", 

  // Coloque a url do seu perfil na rocketseat
  "rocketseat_profile": "https://app.rocketseat.com.br/me/valdemir-filho" 
}