@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  height: 100vh;
  width: 100%;
  /* background-color: aqua; */
}

body {
  min-width: 360px;
  font-family: 'Poppins', sans-serif;
}

body:before {
  content: "";
  position: fixed;
  top: 0;
  bottom: 0;
  width: 100%;
  z-index: -1;
  background-image: linear-gradient(135deg, rgba(2,0,36,1), rgba(0,172,255,1));
}

body {
  /* background-image: linear-gradient(135deg, rgba(2,0,36,1), rgba(0,172,255,1));
  background-repeat: no-repeat;
  background-size: cover;
  background-color: aqua; */
  min-height: 100%;
  width: 100%;
  min-width: 360px;
}

/* @media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
  body {
    color: white;
    background: black;
  }
} */
body > div {
  width: 80%;
  margin: 0 auto;
}

/* @media (max-width: 600px) {
  .page {
    width: 600px;
  }

  .card {
    width: 100px;
  }
} */
