.card {
  color: white;
  padding: 20px;
  text-align: center;
  margin: 0 auto;
  display: grid;
  gap: 40px;
  max-width: 800px;
}

.user_info h2 {
  margin-top: 10px;
}

.links {
  gap: 14px;
  display: grid;
}

.link {
  padding: 10px;
  background-color: hsla(0, 0%, 0%, 0.2);
  border-radius: 8px;
}

.card_image {
  border-radius: 50%;
  border: 2px solid aqua !important;
}

.card a {
  color:aqua;
  font-size: 14px;
  text-decoration: none;
}

